ul {
  padding: 0;
  list-style: none;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-size: 24px;
}

header a {
  text-decoration: none;
}
header a:hover,
header a.active {
  text-decoration: underline;
}
